*.pyc
__pycache__
db.sqlite3
/env
/apc/storefront/env
*.env
.vscode
__pycache__/
/env/
/apc/storefront/env/
apc/storefront/storefront/__pycache__/
apc/storefront/shoppingcart/__pycache__/
apc/storefront/shoppingcart/authentication/__pycache__/
apc/storefront/env/*
apc/storefront/shoppingcart/authentication/__pycache__/*
apc/storefront/shoppingcart/home/__pycache__/*
apc/storefront/storefront/__pycache__/*
apc/storefront/shoppingcart/home/__pycache__/views.cpython-311.pyc
apc/storefront/storefront/__pycache__/urls.cpython-311.pyc
apc/env/*
apc/env
/apc/env/*
/apc/env
