{% extends 'layouts/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        
          </style>
        <div class="col-md-9 col-sm-1 p4 text-center">
            <h1> DBS Online Food Delivery</h1>
        </div>
    </div>
    <div class="col-md-9 col-sm-1 offset-md-1 p4 text-center">
        <img class src="/static/images/bar-g04fc21c73_1920.jpg" width="600" height="400"/>
    </div>
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-9 col-sm-1  p4 text-center">
            <h4> Order food online from your favourite restaurants</h4>
            <div>&nbsp</div>
            <a href="{% url 'menu' %}" class="btn btn-outline-dark"><h3>Order Now!</h3></a>
           
        </div>
        <div>&nbsp</div>
        <div class="row mb-5 m-1">
            <div class="col-md-3 col-sm-12 food-thumbnail">
              <img src="/static/images/pexels-ella-wei-6549194.jpg" alt="Interior of CN Duck restaurant" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-12 food-thumbnail">
              <img src="/static/images/r-roast-ducks-g5dc055b10_1920.jpg" alt="Tasty roasted duck dish" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-12 food-thumbnail">
              <img src="/static/images/pexels-prince-photos-3054690.jpg" alt="Delicious double combo roast meat (duck and pork)" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-12 food-thumbnail">
              <img src="/static/images/chinese-food-g55fb752f0_1920.jpg" alt="Delicious char sui rice bowl (duck)" width="265" height="200" class="img-fluid">
            </div>
          </div>
          <div class="container contact" id="contact">
            <div class="section-heading mb-4">
              <h2>Contact Us</h2>
            </div>
            <div class="row mb-5 mt-4">
              <div class="col-md-3">
                <div class="contact-item">
                  <h3>Phone / Email</h3>
                  <a href="tel:014177500">014177500</a> /
                  
                  <br>
                  <a href="mailto:info@cnduck.ie">order@DBS.ie</a>
                </div>
                <div class="contact-item">
                  <h3>Location</h3>
                  13/14 Aungier St, Dublin, D02WC04
                </div>
                <div class="contact-item">
                  <h3>Hours</h3>
                  <div>Monday : CLOSED</div>
                  <div>Tuesday : 12 - 10PM</div>
                  <div>Wednesday : 12 - 10PM</div>
                  <div>Thursday : 12 - 11PM</div>
                  <div>Friday : 12 - 11PM</div>
                  <div>Saturday : 12 - 11PM</div>
                  <div>Sunday : 12 - 10PM</div>
        
                  
                </div>
              </div>
        
              <div class="col-md-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d297.76934616549806!2d-6.265581771019264!3d53.34048565086584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9de863ce97%3A0xd5fd5a41e4548a27!2sDublin%20Business%20School!5e0!3m2!1sen!2sie!4v1669112112874!5m2!1sen!2sie" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
    </div>
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>

{% endblock content %}