{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div>&nbsp</div>
<div>&nbsp</div>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <p>Name:</p>
                        <input required class="form-control" type="text" name="name" placeholder="{{ name }}">
                    </div>
                    <div class="form-field">
                        <p>Phone Number:</p>
                        <input required class="form-control" type="Phone" name="Phone" placeholder="{{ phone }}">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Delivery Address:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="{{ address }} test">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="{{ city }}">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="postcode" placeholder="{{ postcode }}">
                    </div>
                </div>

                <hr>
                
                <div class="btn btn-success btn-block" id="address-save" >
                    Confirm Address <button id="address">Save</button>
                </div>

            </form>
        </div>

        <br>
        <div class="btn btn-success btn-block" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make payment</button>
        </div>
        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="row">
            
             
                <div style="flex:2"><img class="row-image" src="{{ item.menuItem.imageURL }}" alt="Food" width="125" height="100"></div>
                <div style="flex:2"><p><strong>{{ item.menuItem }}</strong></p></div>
                <div style="flex:1"><p>€{{ item.menuItem.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>No. {{item.quantity}}</p></div>
            </div>
            &nbsp
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    var form = document.getElementById('form')
		form.addEventListener('address-save', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add(".d-none");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })

        document.getElementById('form-button').addEventListener('click', function(e){
            console.log('test 2')
        })

        document.getElementById('make-payment').addEventListener('click', function(e){
            submitFormData()
        })

        function submitFormData(){
            console.log('Payment button clicked')
}
    
</script>
    

{% endblock %}
