{% extends 'layouts/base.html' %}
{% block content %}
<div>&nbsp</div>
<div>&nbsp</div>

<form method="POST">
    {% csrf_token %}

    <p><h2>&nbsp Starter</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for starter in starters %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ starter.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ starter.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ starter.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ starter.price }} &nbsp &nbsp
                      <button data-menuid={{starter.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>

    <p><h2>&nbsp Noodles</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for noodle in noodles %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ noodle.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ noodle.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ noodle.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ noodle.price }} &nbsp &nbsp
                      <button data-menuid={{noodle.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>

    
    <p><h2>&nbsp Mains</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for main in mains %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ main.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ main.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ main.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ main.price }} &nbsp &nbsp
                      <button data-menuid={{main.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>
  
    <p><h2>&nbsp Vegetarian</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for Vegetarian in vegetarian %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ Vegetarian.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ Vegetarian.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ Vegetarian.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ Vegetarian.price }} &nbsp &nbsp
                      <button data-menuid={{Vegetarian.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>
 
    <p><h2>&nbsp Desserts</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for dessert in desserts %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ dessert.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ dessert.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ dessert.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ dessert.price }} &nbsp &nbsp
                      <button data-menuid={{dessert.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>
 
    <p><h2>&nbsp Soft Drinks</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for softdrink in softdrinks %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ softdrink.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ softdrink.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ softdrink.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ softdrink.price }} &nbsp &nbsp
                      <button data-menuid={{softdrink.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>
 
    <p><h2>&nbsp Alcoholic beverages</h2></p>
    <div class="row row-cols-5 row-cols-md-4 mw-75">
        {% for wine in wines %}
        <div class="col mb-4">         
            <div class="card h-100">
            <!--Card image-->
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="{{ wine.imageURL }}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body"> 
              <!--Title-->
              <h4 class="card-title">{{ wine.name }}</h4>
              <!--Text-->
              <p class="card-text">{{ wine.description }}</p>
                <div class="card-footer text-muted mt-auto">
                    <p>€ {{ wine.price }} &nbsp &nbsp
                      <button data-menuid={{wine.id}} data-action="add" type="button" class="btn btn-primary add-btn update-cart">Add to Order</button></p>        
                </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
        {% endfor %}
                  
    </div>




    <p><h2>&nbsp Alcoholic Drinks</h2></p>
    <div class="pt-8">
    <div class='row card-group'>
        {% for wine in wines %}
          <div class="col-2">
            <div class="card border " style="background-color:#ffffff;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ wine.imageURL }}" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(185, 180, 180, 0.15)"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ wine.name }}</h5>
                    <p class="card-text">
                        {{ wine.description }}
                    </p>
                    <small class="text-muted">€ {{ wine.price }} &nbsp &nbsp</small> <button type="button" class="btn btn-primary add-btn">Add to order</button>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>


            <button class="btn btn-dark mt-7">Place Order!</button>
        </form>
</div>
</div>
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
<div>
    &nbsp
</div>
{% endblock content %}