{% extends 'layouts/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-9 col-sm-11 offset-md-1 p4 text-center">
            <h1> About DBS Duck</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-1 offset-md-1 p4 text-center">
            <p>DBS Duck delivers vintage Chinese food that is full of flavor and personality. Our classic "bullet oven" cooking process, which evenly distributes heat around our locally sourced meat,. This gives the meat a rich, juicy texture, which is then coated in a delectable shimmering skin that makes anyone's mouth water.
            <p>Our team of talented chefs strives to present our patrons with an authentic Chinese dining experience that is unrivaled in Dublin.</p>
            <p>In our vintage industrial style restaurant, inspired by Shanghai in the 1930s, enjoy our Duck, Pork, and Chicken served with our meticulously designed spices and sauces that will blow your taste-bud's mind.</p>

        </div>
    </div>
</div>
{% endblock content %}